.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 10;
}

.container {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 70%;
  background-color: var(--green);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.container svg {
  cursor: pointer;
  width: 3.5em;
  height: 3.5em;
  position: absolute;
  right: 2.5em;
  top: 2.5em;
}

.linksContainer {
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  gap: 3em 0em;
}

.linksContainer a {
  text-decoration: none;
  font-family: var(--montserrat);
  font-size: 1.4rem;
  color: var(--white);
  text-transform: capitalize;
}

.main a.active {
  text-decoration: underline;
  color: var(--yellow);
}
