.main {
  margin: 7em 0em;
  color: var(--white);
}

.header {
  margin-left: 0em;
}

.main h5 {
  font-family: var(--clashDisplay);
  font-size: 3.8rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

.intro {
  font-family: var(--montserrat);
  font-size: 1.4rem;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.header > p {
  width: 50%;
}

.infosWrapper {
  margin-top: 5em;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4em 0em;
}

.infosWrapper > div {
  width: 45%;
}

.infosWrapper > div h6 {
  font-family: var(--clashDisplay);
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
}

.infosWrapper > div h6 span {
  color: var(--yellow);
}

.infosWrapper > div p {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 5px 0 1.5em 0;
}

.infosWrapper > div button {
  background-color: transparent;
  border: none;
  color: var(--green);
  background-color: var(--yellow);
  font-family: var(--clashDisplay);
  font-size: 1.2rem;
  cursor: pointer;
  padding: 1em 1.5em;
  margin: 0;
}

@media screen and (max-width: 712px) {
  .header p {
    width: 70%;
  }
}

@media screen and (max-width: 596px) {
  .main {
    padding: 5em 2em;
  }
  .header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header p {
    width: 95%;
    margin: 0;
    text-align: center;
  }
  .main h5 {
    font-size: 3.4rem;
  }
  .infosWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5em 0;
    text-align: center;
  }
  .infosWrapper > div {
    width: 90%;
  }
  .infosWrapper > div p {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    margin: 5px 0 1em 0;
  }
}

@media screen and (max-width: 375px) {
  .main {
    margin: 4em 0em;
  }
}
