.videoContainer {
  position: relative;
  width: 98%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoContainer > div {
  width: 8em;
  height: 8em;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: var(--yellow);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 475px) {
  .videoContainer {
    height: 97%;
    width: 97%;
  }
}
