.wrapper {
  text-align: center;
  width: 18%;
  height: 20em;
  margin-bottom: 5em;
}

.wrapper a {
  text-decoration: none;
  color: var(--white);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--yellow);
}

.container div {
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
}

.container img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.wrapper p {
  font-family: var(--clashDisplay);
  font-size: 1.4rem;
  text-transform: uppercase;
}

@media (max-width: 780px) {
  .wrapper {
    text-align: center;
    width: 14em;
    height: 16em;
  }
  .wrapper p {
    font-size: 1.2rem;
  }
}

@media (max-width: 429px) {
  .wrapper {
    text-align: center;
    width: 45%;
    height: 14em;
  }
}

@media (max-width: 390px) {
  .wrapper {
    text-align: center;
    width: 45%;
    height: 16em;
  }
}

@media (max-width: 369px) {
  .wrapper {
    text-align: center;
    width: 100%;
    height: 25em;
  }
  .container div {
    width: 96%;
    height: 96%;
  }
}
