.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.contentWrapper {
  background-color: var(--green);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 55%;
  height: 55em;
  overflow-y: scroll;
  pointer-events: visible;
}

.contentWrapper header {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}

.contentWrapper header h6 {
  margin: 0;
  font-family: var(--clashDisplay);
  color: var(--green);
  font-size: 1.4rem;
  font-weight: 400;
}

.contentWrapper header h6 span {
  color: var(--yellow);
}

.contentWrapper header svg {
  cursor: pointer;
  width: 3em;
  height: 3em;
}

.paragraphContainer {
  padding: 2em 2em;
}

.paragraphContainer p {
  color: var(--white);
  font-family: var(--montserrat);
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 0.6em;
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .contentWrapper {
    width: 85%;
    height: 50em;
  }
  .contentWrapper header {
    height: 5em;
  }
  .contentWrapper header h6 {
    font-size: 1.6rem;
  }
  .contentWrapper header svg {
    width: 3em;
    height: 3em;
  }
  .paragraphContainer p {
    font-size: 1.4rem;
    text-align: left;
  }
}
