:root {
  /* colors */
  --green: #2a9d8f;
  --yellow: #ffde8d;
  --white: #ffffff;
  --black: #161616;

  /* --yellow: #C5D9B2; */

  /* fonts */
  font-family: "montserrat";
}

html {
  font-size: 62.5%;
  font-family: var(--montserrat);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--green);
  color: var(--white);
  margin: 0;
}
body.active-modal {
  overflow-y: hidden;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5em;
}

.loadingWrapper p {
  text-align: center;
  font-family: var(--clashDisplay);
  color: var(--yellow);
  text-transform: uppercase;
  font-size: 1.4rem;
}

@media screen and (max-width: 420px) {
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
  }
}
